<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>PlantAlarm</string>
	<key>CFBundleIdentifier</key>
	<string>com.EBUniApps.PlantAlarm</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>PlantAlarm</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSCameraUsageDescription</key>
	<string>In order to take photos of your plants, PlantAlarm needs access to your camera.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>In order to upload photos from your camera roll, PlantAlarm needs access to your Photo Libraries.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>In order to save the photos you shoot while using PlantAlarm, we need access to adding items to your Photo Libraries.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This permission is never required by the app. This message should never be seen by users.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This permission is never required by the app. This message should never be seen by users.</string>
</dict>
</plist>
